body {
    background-color: #0fbde9;
}

header {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://media.istockphoto.com/vectors/dog-paw-print-seamless-template-for-your-design-wrapping-paper-card-vector-id1189999011?k=20&m=1189999011&s=612x612&w=0&h=9eMCLyVX4dfamqPElUK7alrlccLl2uThthoNkgqTi0o=);
    color: #000000;
}

h1 {
    margin: 0
}

header h1 {
    display: inline-block;
    font-size: 30px;
}

.head {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.titles {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
}

.biography {
    display: flex;
    justify-content: flex-end;
}

.biography img {
    margin-top: 20px;
}

.mybio {
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 400px;
    margin-right: 100px;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
    display: flexbox;
    justify-content: space-evenly;
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
} */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.contact {
    display: flex;
    justify-content: center;
}

.imgbg {
    background-color: #000000;
}

.p1 img {
    height: 500px;
    width: 500px;
}